<%= form_tag(:controller => "properties", :action => "update", :id => @project) do |f| %>

    <div class="field">
      Name<br/>
      <%=
          text_field_tag(
                  'property[name]',
                  @project_property[:name]
          )
      %>
    </div>
    <div class="field">
      Default language<br/>
      <%=
          localized_language_select(
                  'property',
                  'default_language',
                  [@project_property[:default_language]]
          )
      %>
    </div>
    <div class="actions">
      <%= submit_tag 'Save' %>
    </div>

    <hr/>

    <div class="field">
      Language to add<br/>
      <%=
          localized_language_select(
                  'project_properties',
                  'language'
          )
      %>
      <%=
          button_to_function(
                  'Add language',
                  'add_language()',
                  :id => 'project_properties_language-add'
          )
      %>
   </div>

 <p>Current languages:</p>
 <ul id="project_properties_languages">
   <% if @project_property[:languages] then %>
     <% @project_property[:languages].each do |language| %>
       <li><%= language %></li>
     <% end %>
   <% else %>
     <p>There are currently no such languages defined.</p>
   <% end %>
 </ul>


<% end %>
