<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    The directory in which your project is stored.<br />
    <%= f.text_field :directory %>
  </div>

  <hr/>

  <ul>
   <li>Please note, that if in the directory above already a file <i>.i18n-web-organizer</i> still does exists, the project settings on this page will not be saved. Instead, the old settings will be used.</li>
   <li>You can use this to "import" a project translation.</li>
  </ul>

  <div class="field">
    Name<br />
    <%=
     text_field_tag(
      'project_property[name]',
      ''
     )
    %>
  </div>
  <div class="field">
    Default language<br />
    <%=
     localized_language_select(
      'project_property',
      'default_language'
     )
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
