<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <% @current_properties = @project_properties.pop %>
  <tr>
    <td><%= @current_properties[:name] %></td>
    <td><%= link_to 'Properties', project_properties_path(project) %></td>
    <td><%= link_to 'Translations', project_translations_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Attention: You are going to delete only the database entry for this project - This WILL NOT delete any file on your computer. Are you sure that you will delete this project here?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
